@charset "utf-8";
body{
    font-family: "HGSｺﾞｼｯｸE", serif;
    background-color: #54cad9;
}
caption{
    font-size: 50px;
}
table td th thead {
    border: solid 5px black;
    background-color: #5842f1;
}
th, td{
    padding: 10px;
}
ol{
    border: solid 3px black;
    border-radius: 20;
}
ul{
    margin: 50px;
}
table{
    margin-bottom: 10px;
}
img{
    width: 50%;
    width: 200px;
    height: 200px;
}